#chat {
    transition: left 1s;
    position: absolute;
    background-color:#f1f1e6;
    top: 0;
    left: -400px;
    height: 100%;
    width: 400px;
}


#close {
    padding: 35px;
    text-align: right;
}

#closeButton {
    color: #002264;
    background-color: #f1f1e6;
    border: 0px;
    &:hover {
    color: #cca62b;    
    }
}

#buttonMenu {
	position: fixed;
	left: 25px;
	top: 25px;
	height: 40px;
    width: 40px;
    background-color: #f1f1e6;
	border-radius: 50%;
    color: #002264;
    vertical-align: middle;
	text-align: center;
    border: 0px;

    &:hover {    
        border: 2px solid;
        border-color: #cca62b;
    }
}

#locationTitle {
    padding: 0px 25px;
}