<nav id="chat">
    <div id="close"><i class="material-icons" (click)="onClickMenuOpen()">close</i></div>
    <h2 id="locationTitle">Big Smile Office</h2>
    <div class="locationInfo">

        <button class="buttonFragment"><i class="material-icons">audiotrack</i>Chat
            Person </button>

        <button class="buttonFragment"><i class="material-icons">chat</i>Audio
            Conversation</button>

    </div>
</nav>

<button id="buttonMenu" (click)="onClickMenuClose()"><i class="material-icons">menu</i></button>