<nav id="chat">
    <div class="container">

        <ng-container *ngIf="selectedLocation; else noLocationSelected">
            <div id="close"><button id="close-button"><i class=" material-icons"
                        (click)=" onClickMenuClose()">close</i></button>
            </div>
            <h2 id="location-title">{{selectedLocationDisplayName}}</h2>

            <ng-container *ngIf="locationNFC; else noNFCForLocation">

                <div class="container buttons-container">

                    <div class="row">
                        <div class="col-12 chat-col">

                            <ng-container *ngIf="displayChat">
                                <app-chat [chat]="locationNFC.chat" (chatCompleted)="onChatCompleted()"></app-chat>
                            </ng-container>

                            <ng-container *ngIf="!displayChat && !displayAudio">
                                <ng-container *ngIf="locationNFC.chat != null && chatAvailable()">

                                    <button class="button-fragment" (click)="onClickOpenChat()">
                                        <div class="row justify-content-between align-self-center">
                                            <div class="col-auto">
                                                <p>{{locationNFC.chat.chat_title}}</p>
                                            </div>
                                            <div class="col-auto icon-col">
                                                <i class="material-icons-outlined">chat</i>
                                            </div>
                                        </div>
                                    </button>

                                </ng-container>

                                <ng-container *ngIf="locationNFC.audios != null">
                                    <ng-container *ngFor="let audio of locationNFC.audios">
                                        <ng-container *ngIf="audioAvailable(audio)">

                                            <button class="button-fragment" (click)="onClickOpenAudio(audio)">
                                                <div class="row justify-content-between align-self-center">
                                                    <div class="col-auto">
                                                        <p>Listen to {{audio.audio_title}}</p>
                                                    </div>
                                                    <div class="col-auto icon-col">
                                                        <i class="material-icons-outlined">audiotrack</i>
                                                    </div>
                                                </div>
                                            </button>

                                        </ng-container>
                                    </ng-container>
                                </ng-container>

                            </ng-container>

                        </div>
                    </div>

                </div>

            </ng-container>
            <ng-template #noNFCForLocation>
                <p>Nothing to do here</p>
            </ng-template>


        </ng-container>
        <ng-template #noLocationSelected>
            <p>Please select a location</p>
        </ng-template>

    </div>
</nav>

<button id="button-menu" (click)="onClickMenuOpen()"><i class="material-icons">menu</i></button>