@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/values.scss";

/*--------------------
the complete menu
--------------------*/

#chat {
    transition: left $location-items-transition;
    position: absolute;
    background-color: $tertiary;
    top: 0;
    left: -400px;
    height: calc(100vh - 50px);
    width: 400px;
    border-right: 10px solid $tertiary;
    z-index: 2;
}

/*--------------------
close button
--------------------*/

#close {
    padding-top: 25px;
    text-align: right;
}

#close-button {
    color: $primary;
    background-color: $tertiary;
    border: 0px;
    &:hover {
        color: $secondary;
    }
}

/*--------------------
Styling button
--------------------*/

#button-menu {
    position: fixed;
    left: 25px;
    top: 25px;
    background-color: $tertiary;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: $primary;
    border: 0px solid;
    margin: -2px;

    &:hover {
        border: 2px solid transparent;
        border-color: $secondary;
        box-sizing: border-box;
    }

    > i {
        vertical-align: middle;
        text-align: center;
    }
}

.button-fragment {
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: $primary;
    border-radius: 25px;
    border: 0px solid;
    transition: 0.3s;
    text-align: left;
    cursor: pointer;

    &:hover {
        border: 2px solid;
        border-color: $secondary;
    }
}

.game-elements-container {
    .icon-col {
        display: flex;
        align-items: center;
    }
}
