@import "../../../assets/styles/colors.scss";

/*--------------------
the complete menu
--------------------*/

#chat {
    transition: left 1s;
    position: absolute;
    background-color: $tertiary;
    top: 0;
    left: -400px;
    height: 100%;
    width: 400px;
}

/*--------------------
close button
--------------------*/

#close {
    padding: 35px;
    text-align: right;
}

#closeButton {
    color: $primary;
    background-color: $tertiary;
    border: 0px;
    &:hover {
    color: $secondary;    
    }
}

/*--------------------
Title of selected location
--------------------*/

#locationTitle {
    padding: 0px 25px;
}

/*--------------------
menu open button
--------------------*/

#buttonMenu {
	position: fixed;
	left: 25px;
	top: 25px;
	height: 40px;
    width: 40px;
    background-color: $tertiary;
	border-radius: 50%;
    color: $primary;
    vertical-align: middle;
	text-align: center;
    border: 2px solid;
    border-color: $tertiary;

    &:hover {    
        border-color: $secondary;
    }
}

.buttonIconAlign {
    text-align: center;
    margin-left: -1.5px;
    margin-top: 5px;
}

