<div class="row mobile-row justify-content-center d-flex align-items-center">

    <div class="col-auto mobile">
        <div class="row">
            <div class="col-12 mobile-text">
                <div class="title-container">
                    <i class="material-icons-outlined error-icon">error</i>
                    <h2 class="error-title">Smylos</h2>
                </div>
                <p>Welcome to Smylos. If you are on your phone or on a small screen, please continue on a computer or
                    enlarge your browser window. This game has been developed for a screen with a resolution larger than
                    1000 pixels.
                </p>
            </div>

        </div>
    </div>
</div>