<div class="chat-container" *ngIf="chat">
    <div class="row">
        <div class="col-12 chat-title">
            <h3>{{chat.chat_title}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12" [ngClass]="getChatClassNameForChatItem(chatItemDisplay.chatItem)"
            *ngFor="let chatItemDisplay of chatItemsToDisplay; last as isLastChat">


            <p>{{chatItemDisplay.chatItem.sender}}</p>


            <ng-container *ngIf="chatItemDisplay.option != null; else defaultMessage">
                <p>{{chatItemDisplay.chatItem.messages[chatItemDisplay.option]}}</p>
            </ng-container>
            <ng-template #defaultMessage>
                <ng-container *ngFor="let message of chatItemDisplay.chatItem.messages">

                    <p>{{message}}</p>

                </ng-container>
            </ng-template>

            <ng-container *ngIf="chatItemDisplay.chatItem.audio_message != null">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <p>Listen to audio</p>
                    </div>
                    <div class="col-auto">
                        <app-audio-button class="audio-button"
                            [audio]="createAudioObjectForAudioMessage(chatItemDisplay.chatItem.audio_message)"
                            (audioCompleted)="onAudioCompleted($event)">
                        </app-audio-button>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="isLastChat">

                <ng-container *ngIf="nextItemIsPlayerChatItem(chatItemDisplay.chatItem)">
                    <ng-container *ngFor="let title of getNextChatItem(chatItemDisplay.chatItem).titles">
                        <button class="choice-button" [disabled]="!audioFinished"
                            (click)="onClickTitleButton(title, getNextChatItem(chatItemDisplay.chatItem))">{{title}}</button>
                    </ng-container>
                </ng-container>


            </ng-container>

        </div>

        <ng-container *ngIf="chatFinished">
            <div class="col-12">
                <button (click)="onClickFinishChat()">Leave chat</button>
            </div>
        </ng-container>

    </div>
</div>