<div class="chat-container" *ngIf="chat">
    <div class="row">
        <div class="col-12">
            <h3>{{chat.chat_title}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">


            <ng-container *ngFor="let chatItem of chatItemsToDisplay; last as isLastChat">
                <p>{{chatItem.sender}}</p>

                <ng-container *ngFor="let message of chatItem.messages">
                    <p>{{message}}</p>
                </ng-container>

                <ng-container *ngIf="isLastChat">

                    <ng-container *ngIf="nextItemIsPlayerChatItem(chatItem)">
                        <ng-container *ngFor="let title of getNextChatItem(chatItem).titles">
                            <button (click)="onClickTitleButton(title, getNextChatItem(chatItem))">{{title}}</button>
                        </ng-container>
                    </ng-container>


                </ng-container>

            </ng-container>

            <ng-container *ngIf="chatFinished">
                <button (click)="onClickFinishChat()">Leave chat</button>
            </ng-container>

        </div>
    </div>
</div>