@import "../../../assets/styles/colors.scss";

.game-finished-row {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
}

.game-finished-col {
    width: 800px;
    height: 600px;
    background-color: white;
    border: 2px solid;
    border-color: $secondary;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.game-finished-text {
    text-align: justify;
    color: $primary;
    padding: 40px 40px 0 40px;
}

.info-row {
    width: 100%;
}

.button-row {
    flex-grow: 1;
    padding: 40px;
}

.button-game-finished {
    padding: 15px 20px;
    height: 90%;
    width: 100%;
    background-color: #ffffff;
    color: $primary;
    border-radius: 25px;
    border: 2px solid;
    border-color: $primary;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;

    &:hover {
        border-color: $secondary;
    }
}

.text-button-game-finished {
    margin: 0px;
}
