@import "../../../assets/styles/colors.scss";

.game-finished-row {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
}

.game-finished {
    width: 60%;
    height: 70%;
    background-color: white;
    border: 2px solid;
    border-color: $secondary;
    border-radius: 20px;
}

.game-finished-text {
    text-align: justify;
    color: $primary;
    padding: 40px;
}

.button-game-finished {
    margin: 1%;
    padding: 20px 30px;
    height: 90%;
    background-color: #ffffff;
    color: $primary;
    border-radius: 25px;
    border: 2px solid;
    border-color: $primary;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;

    &:hover {
        border-color: $secondary;
    }
}

.text-button-game-finished {
    margin: 0px;
}
