<div class="row intro-row justify-content-center d-flex align-items-center">

    <div class="col-auto introduction">
        <div class="row">

            <div class=" hidden-xs col-lg-7"> <img id="intro-image" src="assets/images/smylos_buildings.jpg"> </div>

            <div class="col-sm-12 col-lg-5 align-self-center introduction-text">

                <p>Welcome to the Smylos world. Throughout this
                    experience you will be able to interact with different characters
                    on the map through audio and chat. Please turn on your audio. If you are ready, click the button
                    below and look for Epeo’s store on the map to start the tutorial. Enjoy!
                </p>
                <button id="button-introduction" (click)="onClickFinishIntroduction()">Start the game</button>
            </div>

        </div>
    </div>
</div>