<div class="main" (window:resize)="onWindowResize()">

    <ng-container *ngIf="!isMobile; else mobileNotSupported">

        <ng-container *ngIf="stagesLoading; else gameReady">

            <p>Loading application</p>

        </ng-container>
        <ng-template #gameReady>

            <app-introduction *ngIf="!introductionFinished" (introductionFinish)="onIntroductionFinish($event)">
            </app-introduction>

            <div class="game-items" [ngClass]="blurClass">
                <app-potion-alarm *ngIf="alarmFinished" (alarmFinish)="onAlarmFinish()">
                </app-potion-alarm>

                <app-map (newLocationSelected)="onNewLocationSelected($event)"></app-map>
                <app-location-items [selectedLocation]="selectedLocation"></app-location-items>
                <app-toolbar [currentStage]="currentStage"></app-toolbar>
                <app-logo></app-logo>
            </div>

        </ng-template>
    </ng-container>

    <ng-template #mobileNotSupported>
        <app-mobile-error></app-mobile-error>
    </ng-template>



</div>