<div class="main" (window:resize)="onWindowResize()">

    <ng-container *ngIf="!isMobile; else mobileNotSupported">

        <ng-container *ngIf="stagesLoading; else gameReady">

            <p>Loading application</p>

        </ng-container>
        <ng-template #gameReady>

            <app-potion-alarm *ngIf="alarmFinished" (alarmFinish)="onAlarmFinish()">
            </app-potion-alarm>
            <app-introduction *ngIf="!introductionFinished" (introductionFinish)="onIntroductionFinish()">
            </app-introduction>
            <app-map (newLocationSelected)="onNewLocationSelected($event)"></app-map>
            <app-location-items [selectedLocation]="selectedLocation"></app-location-items>
            <app-toolbar [currentStage]="currentStage"></app-toolbar>
            <app-logo></app-logo>

        </ng-template>
    </ng-container>

    <ng-template #mobileNotSupported>
        <app-mobile-error></app-mobile-error>
    </ng-template>



</div>