<div class="map-container">
	<button class="buttonPlus" (click)="onClickZoomIn()">+</button>
	<button class="buttonPlus buttonMin" (click)="onClickZoomOut()">-</button>


	<svg version="1.1" id="smylos-map" x="0px" y="0px" viewBox="0 0 1338.073 1041.33"
		enable-background="new 0 0 1338.073 1041.33" xml:space="preserve">
		<g id="Layer_2">

			<image overflow="visible" width="13004" height="9185" xlink:href="assets/images/A1_map.jpg"
				transform="matrix(0.1006 0 0 0.1006 4 39.9619)">
			</image>
		</g>
		<g id="smylos-map">
			<g id="Layer_2_1_">


				<image overflow="visible" opacity="0" enable-background="new   " width="106" height="115"
					id="bigSmileDot" xlink:href="assets/images/dot.png"
					transform="matrix(0.24 0 0 0.24 731.876 148.5126)">
				</image>

				<rect (click)="onClickBigSmileOffice()" id="bigSmileOffice" x="689.508" y="128.61" opacity="0.1"
					fill="#3ACEB8" enable-background="new    " width="96.451" height="65.12" />

				<image overflow="visible" opacity="0" enable-background="new    " width="106" height="115"
					id="executiveOfficeDot" xlink:href="assets/images/dot.png"
					transform="matrix(0.24 0 0 0.24 741.8243 233.6676)">
				</image>

				<rect (click)="onClickExecutiveOffice()" id="executiveOffice" x="689.508" y="207.476" opacity="0"
					fill="#3ACEB8" enable-background="new    " width="96.451" height="65.12" />



				<rect id="taxOffice" x="689.508" y="284.225" opacity="0.2" fill="#3ACEB8" enable-background="new    "
					width="96.451" height="65.12" />

				<image overflow="visible" enable-background="new    " width="106" height="115" id="taxOfficeDot"
					xlink:href="assets/images/dot.png" transform="matrix(0.24 0 0 0.24 719.156 302.9856)">
				</image>

				<rect id="hillHouse" x="903.751" y="247.467" opacity="0.2" fill="#3ACEB8" enable-background="new    "
					width="96.451" height="65.12" />

				<image overflow="visible" enable-background="new    " width="106" height="115" id="hillHouseDot"
					xlink:href="assets/images/dot.png" transform="matrix(0.24 0 0 0.24 956.4761 258.7958)">
				</image>

				<rect id="market" x="868.245" y="426.348" opacity="0.2" fill="#3ACEB8" enable-background="new    "
					width="96.451" height="65.12" />

				<image overflow="visible" enable-background="new    " width="106" height="115" id="marketDot"
					xlink:href="assets/images/dot.png" transform="matrix(0.24 0 0 0.24 903.7507 451.3311)">
				</image>

				<rect id="eastDistrict" x="840.328" y="500.307" opacity="0.2" fill="#3ACEB8" enable-background="new    "
					width="96.451" height="65.12" />

				<image overflow="visible" enable-background="new    " width="106" height="115" id="eastDistrictDot"
					xlink:href="assets/images/dot.png" transform="matrix(0.24 0 0 0.24 899.1549 505.2676)">
				</image>

				<rect id="well" x="696.371" y="484.925" opacity="0.2" fill="#3ACEB8" enable-background="new    "
					width="96.451" height="65.12" />

				<image overflow="visible" enable-background="new    " width="106" height="115" id="wellDot"
					xlink:href="assets/images/dot.png" transform="matrix(0.24 0 0 0.24 741.8243 491.4677)">
				</image>

				<rect id="westDistrict" x="524.479" y="551.16" opacity="0.2" fill="#3ACEB8" enable-background="new    "
					width="96.451" height="65.12" />

				<image overflow="visible" enable-background="new    " width="106" height="115" id="westDistrictDot"
					xlink:href="assets/images/dot.png" transform="matrix(0.24 0 0 0.24 559.9841 569.9201)">
				</image>

				<rect id="palace" x="338.123" y="253.836" opacity="0.2" fill="#3ACEB8" enable-background="new    "
					width="96.451" height="65.12" />

				<image overflow="visible" enable-background="new    " width="106" height="115" id="palaceDot"
					xlink:href="assets/images/dot.png" transform="matrix(0.24 0 0 0.24 409.1341 254.6329)">
				</image>

				<rect id="park" x="130.006" y="393.788" opacity="0.2" fill="#3ACEB8" enable-background="new    "
					width="241.276" height="123.697" />

				<image overflow="visible" enable-background="new    " width="106" height="115" id="parkDot"
					xlink:href="assets/images/dot.png" transform="matrix(0.24 0 0 0.24 321.5822 400.6571)">
				</image>

				<rect id="epeosStore" x="815.424" y="636.396" opacity="0.2" fill="#3ACEB8" enable-background="new    "
					width="96.451" height="65.12" />

				<image overflow="visible" enable-background="new    " width="106" height="115" id="epeoStoreDot"
					xlink:href="assets/images/dot.png" transform="matrix(0.24 0 0 0.24 873.7149 636.3967)">
				</image>

				<rect id="slums" x="459.132" y="757.076" opacity="0.2" fill="#3ACEB8" enable-background="new    "
					width="404.517" height="146.531" />

				<image overflow="visible" enable-background="new    " width="106" height="115" id="slumsDot"
					xlink:href="assets/images/dot.png" transform="matrix(0.4033 0 0 0.4033 602.9999 749.6591)">
				</image>
			</g>
		</g>
	</svg>

</div>