<div class="toolbar">

    <div class="row justify-content-center align-items-center toolbar-row">
        <div class="col-sm-2">
            <p>Progress:</p>
        </div>
        <div class="col-sm-2">

            <img src="assets/images/Potion.png" height="24" width="24">
        </div>
        <div class="col-sm-2">
            <i class="material-icons">chat</i>
            <p>1/4</p>
        </div>
        <div class="col-sm-2">
            <i class="material-icons">audiotrack</i>
            <p>4/7</p>
        </div>
    </div>

</div>