<div class="toolbar">

    <div class="row justify-content-center align-items-center toolbar-row">
        <div class="col-auto">

            <h3>Level {{level + 1}}/5</h3>
        </div>
        <div class="col-auto">

            <img class="alignBar" src="assets/images/Potion.png" height="24" width="24">
            <div id="progressBar">
                <div id="progress" [ngStyle]="{'width': potionCount + '%'}"></div>
            </div>
        </div>
        <div class="col-auto">
            <i class="material-icons-outlined alignBar">chat</i>
            <h3>{{completedAmountChats}}/{{maxAmountChats}}</h3>
        </div>
        <div class="col-auto">
            <i class="material-icons-outlined alignBar">audiotrack</i>
            <h3>{{completedAmountAudios}}/{{maxAmountAudios}}</h3>
        </div>
    </div>

</div>