<div class="row credits-row justify-content-center d-flex align-items-center">

    <div class="col-auto credits">

        <div class="close-credits"><button (click)="onClickCreditsClose()" id="close-button-credits"><i
                    class=" material-icons">close</i></button>
        </div>
        <div class="credits-title">
            <h2>Credits</h2>
        </div>
        <div class="row credits-box">



            <div class="col-6 credits-text">

                <h5>Producer:</h5>
                <p class="credits-font">Arthur van der Werf</p>

                <h5>Voice cast:</h5>
                <div class="row">
                    <div class="col-4">
                        <p class="credits-font">Epeo:<br>
                            Golin:<br>
                            Sisyphus:<br>
                            Kyril:<br>
                            Hypatia:<br>
                            Koralia:<br>
                            Big Smile:<br>
                            Johan:<br>
                            Johan's wife:<br>
                            Receptionist<br>
                        </p>
                    </div>
                    <div class="col-8">
                        <p class="credits-font">Dominic Kleinknecht<br>
                            Kasper Rise<br>
                            Arthur van der Werf<br>
                            Arnon van den Berghe<br>
                            Georgina Hatch<br>
                            Adrienne Voravong<br>
                            Wout Verbiest<br>
                            Anders Leistad Christensen<br>
                            María del Pilar Suarez Anzorena<br>
                            María Paula Vargas Triana<br>
                        </p>
                    </div>
                </div>

                <h5>Character design:</h5>
                <div class="row">
                    <div class="col-4">
                        <p class="credits-font">Epeo:<br>
                            Golin:<br>
                            Sisyphus:<br>
                            Kyril:<br>
                            Hypatia:<br>
                            Koralia:<br>
                            Big Smile:<br>
                            Johan:<br>
                        </p>
                    </div>
                    <div class="col-8">
                        <p class="credits-font">María del Pilar Suarez Anzorena<br>
                            Kasper Rise<br>
                            Arthur van der Werf<br>
                            Andrej Cattaneo<br>
                            Arriana Bellantuono<br>
                            María Paula Vargas Triana<br>
                            Francesca Pavanel<br>
                            Mattia Cittadino<br>
                        </p>
                    </div>
                </div>
                <h5>Voice casting:</h5>
                <p class="credits-font">Arthur van der Werf, Kasper Rise</p>

                <h5>Writing:</h5>
                <p class="credits-font">Arianna Bellantuono, Francesca Pavanel, Kasper Rise, María del Pilar
                    Anzorena<br>
                    Based on the story of Crates of Thebes<br></p>

                <h5>Interaction design:</h5>
                <p class="credits-font">Arthur van der Werf, Kasper Rise, María del Pilar Suarez Anzorena</p>

                <h5>Game structure and logics:</h5>
                <p class="credits-font">Andrej Cattaneo, Arthur van der Werf, Kasper Rise, María del Pilar Suarez
                    Anzorena
                </p>
                <h5>Web backend development:</h5>
                <p class="credits-font">Ruben Brugman</p>
                <h5>Web frontend development: </h5>
                <p class="credits-font">Arthur van der Werf</p>

                <h5>Art Director:</h5>
                <p class="credits-font">María Paula Vargas Triana</p>
                <h5>Map design: </h5>
                <p class="credits-font">María Paula Vargas Triana</p>
                <h5>Graphic design: </h5>
                <p class="credits-font">Arianna Bellantuono</p>

                <h5>Recording supervisors:</h5>
                <p class="credits-font">Arthur van der Werf, Kasper Rise</p>
                <h5>Facilitating studio: </h5>
                <p class="credits-font">Poliradio</p>
                <h5>Sound editing: </h5>
                <p class="credits-font">Arthur van der Werf</p>

                <h5>Politecnico education supervisors:</h5>
                <p class="credits-font">Ilaria Mariani, Mariana Ciancia</p>

                <h5>The producer wishes to thank:</h5>
                <p class="credits-font">Ruben Brugman for his great technical support in the development of this web
                    application.
                    Poliradio for their hospitality and support in recording high quality audio files.</p>




            </div>

            <div class="col-6">
                <img id="credits-image" src="assets/images/mapprogress.jpg">
            </div>
        </div>

    </div>
</div>